body
{
    font-family: 'MS 明朝',
    'Hiragino Kaku Gothic Pro',
    sans-serif;
    background-color: #fcfcfcea;
    width: 1300px;
}

/*
divの領域を重ねるときの配置方法
https://naifix.com/relative-absolute/#CSS_position
*/

.icarus-logo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
#logo-back{
    margin-top: 50px;
    width: 1000px;
    height: 135px;
    background-color: rgb(0, 255, 255);
    position: absolute;
}
.icarus-intro{
    position: relative;
    width: 1000px;
    height: 1500px;
    margin-right: auto;
    margin-left: auto;
}
#arrow-r{
    width: 30px;
    height: 100px;
    top: 200px;
    right: 0px;
    position: absolute;
}
#arrow-l{
    width: 30px;
    height: 100px;
    top: 200px;
    left: 0px;
    position: absolute;
}
#intro-img{
    width: 600px;
    height: 360px;
    top: 50px;
    left: 200px;
    position: absolute;
}
#explanation{
    width: 400px;
    top: 350px;
    left: 300px;
    position: absolute;
}
/*画像を上段、説明を下段に持ってくる