body
{
    font-family: 'MS 明朝',
    'Hiragino Kaku Gothic Pro',
    sans-serif;
    background-color: #f0eeeeea;
    width: 1300px;
}
.icarus-logo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.icarus-intro{
    position: relative;
    /*position: fixed;
    positon: absolute;*/
    width: 1000px;
    height: 1000px;
    margin-right: auto;
    margin-left: auto;
}
#arrow-r{
    width: 100px;
    height: 200px;
    text-align: right;
    position: absolute;
}
#arrow-l{
    width: 100px;
    height: 200px;
    text-align: left;
    position: absolute;
}
#explanation{
    width: 450px;
    text-align: right;
    position: absolute;
}